
.modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000a;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.preload * {                                /* to stop modal flashing */
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.modal-dialog > div {
    width: 50%;
    height: 50%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 15px 20px;
    border-radius: 5px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #ddd);
    background: -webkit-linear-gradient(#fff, #ddd);
    background: -o-linear-gradient(#fff, #ddd);
}

div.modal__content {
    height: 100%;
    overflow: auto;
    color: #6a6a6a;
    text-align: justify;
}

::-webkit-scrollbar {                       /* make scrollbar transparent */
    width: 0px;
    background: transparent;
}

.modal--img {
    width: 50%;
    margin: 0 15px 0 0;
    float: left;
}

.modal__content h2 {
    margin-bottom: 15px;
    color: #5497b1;
}

.modal--date {
    margin-bottom: 10px;
    color: inherit;
    font-style: italic;
}

.close {
    background: #606061;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    z-index: 99999;
}

.close:hover { background: #5497b1; }
