@media screen and (max-width: 660px) {
    .wrapper {
        padding: 19px 5px 5px;
    }

    footer .wrapper {
        padding: 8px 5px;
    }

    footer .nav {
        float: initial;
        justify-content: center;
    }
}

@media screen and (max-width: 610px) {
    header {
        display: grid;
        justify-items: center;
        justify-content: center;
    }

    .contacts {
        display: grid;
        justify-items: center;
        justify-content: center;
    }

    .address {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    header .nav {
        display: contents;
    }

    .news__item {
        display: inline-block;
    }

    .news__item--image {
        display: flex;
        justify-content: center;
        margin-bottom: inherit;
    }
}

@media screen and (max-width: 400px) {
    .noselect {
        display: none;
    }

    .address {
        display: grid;
    }
}
