
.wrapper {
    max-width: 655px;
    margin: 0 auto;
}

nav .cumber-bread {
    content: "\2022";
}

.noselect {
    user-select: none;
}

.pagination .start {
    content: "\2023|";
    transform: rotate(180);
}

.pagination .previous {
    content: "\2023\2023";
    transform: rotate(180);
}

.pagination .next {
    content: "\2023\2023";
}

.pagination .end {
    content: "\2023|";
}
