
body {
    min-width: 310px;
}
a {
    text-decoration: none;
    color: #c9c9c9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body */
a:hover,
header a:hover {
    color: #5497b1;
    cursor: pointer;
}

a:visited {
    color: #c9c9c9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header li {
    padding-right: 15px;
    font-size: .9em;
}

header li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    /* font-size: .85em; */
}

header li:nth-child(odd) {
    color: #5497b1;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px,);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

main {
    background:
    radial-gradient(#eeeeee 5%, transparent 10%) 8px 0px,
    radial-gradient(#eeeeee 5%, transparent 10%) 16px 11px,
    radial-gradient(#eeeeee 5%, transparent 10%) 0px 3px,
    radial-gradient(#eeeeee 5%, transparent 10%) 8px 8px,
    /* radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, */
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    /* background-color:#282828; */
    background-size:16px 16px;
    padding-bottom: 30px;
}

.wrapper {
    max-width: 655px;
    margin: 0 auto;
    padding: 19px 0 5px;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    margin-top: 10px;
    border-top: 1px solid #f2f2f2;
}

.heading .title {
    padding-left: 5px;
}

.heading,
.pagination {
    color: #6a6a6a;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

.nav,
.pagination {
    display: flex;
    float: right;
    align-items: center;
    /* justify-self: flex-end; */
    /* justify-content: space-between; */
}

.noselect {
    user-select: none;
}

.pagination li {
    padding: 0 5px;
    font-size: .7em;
}

.pagination li:last-child {
    padding-right: 0;
}

.pagination li:hover {
    cursor: pointer;
    color: #5497b1;
}

.pagination li.page-number {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

/* .pagination li.page-number:active {
    text-decoration: none;
} */

.pagination li.page-number:hover {
    text-decoration: none;
}

.pagination .start,
.pagination .previous {
    transform: rotate(180deg);
}

/* .pagination .start,
.pagination .previous,
.pagination .next,
.pagination .end {
    font-weight: 400;
} */

.news {
    border: 1px solid #f2f2f2;
    background: #ffffff;
}

.news__item--img {
    width: 170px;
    height: 133px;
    margin: 0 15px 0 0;
    /* align-self: left; */
}

h3 {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: 300; */
    /* font-size: .7em; */
    text-transform: uppercase;
    color: #5497b1;
}

.news__item--title {
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.news__item--date {
    padding-right: 10px;
    font-weight: 300;
    font-style: italic;
    /* font-size: .7em; */
}

.news__item--body {
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    /* font-size: .7em; */
}

.news__item--btn a{
    float: right;
    margin: 20px 5px 0 0;
    text-transform: uppercase;
    font-size: .5em;
    border-radius: 10px;
    background: #e7e7e7;
    padding: 3px 10px;
}

/* .news__item--btn:hover, */
.news__item--btn a:hover {
    color: #ffffff;
    background: #22b9ff;
}

.news__item--btn span {
    font-size: .7rem;
    font-weight: 700;
}

/* .news__item--heading {
    display: inline-block;
} */

.news__item {
    display: flex;
    /* grid-template-areas: 'img content'; */
                         /* 'img body body' */
                         /* 'img * btn'; */
    /* grid-template-columns: repeat(1fr, 2); */
    /* grid-template-rows: auto; */
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e7e7e7;
    margin: 10px;
    padding-bottom: 10px;
    font-size: .7em;
    color: #868686;
}

.footing {
    padding: inherit;
}

footer .wrapper {
    padding: 8px 0;
}

footer .nav li {
    padding: 0 15px;
}

footer .nav li:last-child {
    padding-right: 0;
}

footer .nav a {
    color: #52636b;
    font-size: .5em;
    text-decoration: underline;
}

footer .nav a:hover,
.contacts .mailto:hover {
    color: #74a3a9;
}

.contacts {
    display: flex;
    /* align-content: baseline; */
    justify-content: space-between;
    width: 100%;
    padding-top: 18px;
}

.contacts img {
    width: 90px;
    height: 30px;
}

.address {
    display: flex;
    align-items: flex-end;
    font-size: 8px;
    padding-left: 18px;
}

.address li {
    padding: 4px;
    color: #c9c9c9;
}

.contacts .mailto {
    padding: 3px;
    align-self: flex-end;
    font-size: .75em;
    text-decoration: underline;
}

.copyright {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #29b2e6;
    color: #ffffff;
}

.copyright__content {
    display: flex;
    justify-content: space-between;
    font-size: .6rem;
}

.copyright__content p {
    display: flex;
    align-items: flex-start;
    /* font-size: .6rem; */
}

.copyright__content p span {
    padding: 0 10px 0 25px;
    font-weight: 700;
    font-size: .9rem;
    line-height: 10px;
    color: #52636b;
}

.copyright__content a {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 8px;
    padding: 0px 8px;
}

.copyright__content img {
    width: 12px;
    height: 11px;
    padding-left: 15px;
}
